<template>
  <div>
    <sw-card title="Select Customer">
      <sw-text-field 
        v-model:value="searchTerm" 
        placeholder="Search for customers..." 
        @input="onSearch"
      />

      <sw-data-grid
              :dataSource="customerOptions"
              :columns="columns"
              :isLoading="isLoading"
              :identifier="'id'"
              :showSelection="true"
              :selectedItems="selectedItems"
              @selectItem="onSelectCustomer"
      >

      <template #column-name="{ item }">
          {{ item.label }}
        </template>
        <template #column-customerNumber="{ item }">
          {{ item.customerNumber }}
        </template>
        <template #column-email="{ item }">
          {{ item.email }}
        </template>
      </sw-data-grid>

       <sw-pagination
          :total="totalCustomers"
          :limit="limit"
          :page="page"
          @pageChange="onPageChange">
       </sw-pagination>
    </sw-card>
  </div>
</template>
